$clrSoftBlue: hsl(243, 86%, 85%);
$clrVeryDarkBlue: hsl(243, 87%, 12%);
$clrGreen: hsl(163, 95%, 43%);
$clrDarkBlue: hsl(243, 8%, 33%);
$clrGray: hsl(0, 0%, 50%);

$fontMain: 'Open sans';
$fontHeadings: 'Raleway';

body {
   color: #333;
   font-family: $fontMain, Arial, Helvetica, sans-serif;
}

// Utility classes
.u-title {
   font-family: $fontHeadings, Arial, Helvetica, sans-serif;
   font-weight: bold;
}

.u-text {
   font-weight: 400;
   line-height: 1.5;
}