*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #181f2a;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  position: relative;
}

.u-heading {
  font-family: "Raleway", sans-serif;
}

.u-heading--white {
  color: white;
}

.u-paragraph {
  line-height: 1.5;
}

.u-paragraph--white {
  color: #fff;
}

.u-link {
  text-decoration: none;
}

.u-list {
  list-style-type: none;
  padding: 0;
}

.u-wrapper {
  max-width: 70em;
  margin: 0 auto;
}

.u-logo {
  display: block;
  width: 8.5em;
}

.u-padding {
  padding: 6em 0;
}

.u-featured-btn {
  border-radius: 4em;
  display: inline-block;
  font-weight: bold;
  margin: auto;
  padding: 1em 4em;
}

.u-featured-btn--blue {
  background: #339ecc;
  color: #fff;
}

.navbar__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: .5em 0;
}

.navbar__item {
  margin: 0 .75em;
}

.navbar__item--align-left {
  margin: 0;
  margin-right: auto;
}

.navbar__link {
  color: #fff;
}

.landing {
  text-align: center;
}

.landing__illustration {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.landing__inner {
  margin: auto;
  width: 60%;
}

.landing__heading {
  font-size: 2.25rem;
}

.landing__content {
  padding: 0 5.5em;
}

.features__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.features__feature {
  padding: 3em 4em;
  text-align: center;
}

.stay-productive {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stay-productive__illustration {
  display: block;
  width: 100%;
}

.stay-productive__inner {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.stay-productive__inner--extra-padding {
  padding: 1em;
}

.stay-productive__title {
  font-size: 2rem;
}

.stay-productive__link {
  border-bottom: 1px solid #3edad0;
  color: #3edad0;
  padding: .5em 0;
}

.testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  position: relative;
}

.testimonials__quotation {
  display: block;
  left: .5em;
  position: absolute;
  top: 2.35em;
  width: 3.5em;
  z-index: -1;
}

.testimonials__user {
  color: #fff;
  display: block;
  margin: .5em 0;
}

.testimonials__inner {
  background: #21293c;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.cta {
  background: #21293c;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.466);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.466);
  border-radius: .5em;
  margin: 4em auto;
  padding: 3em 4em;
  text-align: center;
  width: 75%;
}

.cta__title {
  font-size: 2rem;
}

.cta__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cta__input {
  border-radius: 5em;
  border: 0;
  padding: .85em;
}

.cta__input--email {
  background: #fff;
  color: #888;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  margin-right: 2em;
}

.cta__input--submit {
  background: #339ecc;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.footer {
  background: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4em;
}

@media (max-width: 50em) {
  .landing__inner {
    width: 100%;
  }
  .landing__illustration {
    width: 90%;
  }
  .landing__content {
    padding: 0 1em;
  }
  .features__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .features__feature {
    padding: 1em;
  }
  .stay-productive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
  }
  .testimonials {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .testimonials__inner {
    margin: 0 1em;
  }
  .cta {
    width: 100%;
  }
  .cta__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta__input {
    margin: 1em 0;
  }
  .cta__input--email {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */