$mobile: 375px;
$desktop: 1440px;

$clrSoftBlue: hsl(243, 86%, 85%);
$clrDarkBlue: hsl(243, 87%, 12%);
$clrGreen: hsl(163, 95%, 43%);
$clrGrey: hsl(0, 0%, 50%);

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans';
}

.heading {
   font-family: 'Raleway';
   font-weight: 700;
}